[
  
  %% {{basepath}} is provided by detest. This is the base folder where you should write your data.
  %% {{name}} is taken from cfg/1 nodes parameter.
  {myapp,[
  	{i_want_my_files_here,"{{ basepath }}/{{ name }}"}
  ]},



  {lager, [
      {colored, true},
      {handlers, [
        {lager_console_backend,[debug,{lager_default_formatter, [time," ",pid," ",node," ",module," ",line,
                " [",severity,"] ", message, "\n"]}]},
        {lager_file_backend, [{file, "{{ basepath }}/log/{{ name }}.error.log"}, {level, error}, {formatter, lager_default_formatter},
          {formatter_config, [date, " ", time," [",severity,"] ",pid," ",module, " ",line, " ", message, "\n"]}]},
        {lager_file_backend, [{file, "{{ basepath }}/log/{{ name }}.console.log"}, {level, info}]}
      ]}
    ]},

     %% SASL config
    {sasl, [
         {sasl_error_logger, {file, "{{ basepath }}/log/{{ name }}.sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "{{ basepath }}/log/{{ name }}"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

